
@font-face {
  font-family: 'CascadiaCode';
  src: url('fonts/CascadiaCode/CascadiaCode-Regular.woff2') format('woff2'),
       url('fonts/CascadiaCode/CascadiaCode-Regular.woff') format('woff'),
       url('fonts/CascadiaCode/CascadiaCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CascadiaCode';
  src: url('fonts/CascadiaCode/CascadiaCode-Light.woff2') format('woff2'),
       url('fonts/CascadiaCode/CascadiaCode-Light.woff') format('woff'),
       url('fonts/CascadiaCode/CascadiaCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CascadiaCode';
  src: url('fonts/CascadiaCode/CascadiaCode-Italic.woff2') format('woff2'),
       url('fonts/CascadiaCode/CascadiaCode-Italic.woff') format('woff'),
       url('fonts/CascadiaCode/CascadiaCode-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CascadiaCode';
  src: url('fonts/CascadiaCode/CascadiaCode-Bold.woff2') format('woff2'),
       url('fonts/CascadiaCode/CascadiaCode-Bold.woff') format('woff'),
       url('fonts/CascadiaCode/CascadiaCode-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CascadiaCode';
  src: url('fonts/CascadiaCode/CascadiaCode-SemiBold.woff2') format('woff2'),
       url('fonts/CascadiaCode/CascadiaCode-SemiBold.woff') format('woff'),
       url('fonts/CascadiaCode/CascadiaCode-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ComicNeue';
  src: url('fonts/ComicNeue/ComicNeue-Regular.woff2') format('woff2'),
       url('fonts/ComicNeue/ComicNeue-Regular.woff') format('woff'),
       url('fonts/ComicNeue/ComicNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ComicNeue';
  src: url('fonts/ComicNeue/ComicNeue-Light.woff2') format('woff2'),
       url('fonts/ComicNeue/ComicNeue-Light.woff') format('woff'),
       url('fonts/ComicNeue/ComicNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ComicNeue';
  src: url('fonts/ComicNeue/ComicNeue-Italic.woff2') format('woff2'),
       url('fonts/ComicNeue/ComicNeue-Italic.woff') format('woff'),
       url('fonts/ComicNeue/ComicNeue-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ComicNeue';
  src: url('fonts/ComicNeue/ComicNeue-Bold.woff2') format('woff2'),
       url('fonts/ComicNeue/ComicNeue-Bold.woff') format('woff'),
       url('fonts/ComicNeue/ComicNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url('fonts/FiraCode/FiraCode-Regular.woff2') format('woff2'),
       url('fonts/FiraCode/FiraCode-Regular.woff') format('woff'),
       url('fonts/FiraCode/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url('fonts/FiraCode/FiraCode-Light.woff2') format('woff2'),
       url('fonts/FiraCode/FiraCode-Light.woff') format('woff'),
       url('fonts/FiraCode/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url('fonts/FiraCode/FiraCode-Medium.woff2') format('woff2'),
       url('fonts/FiraCode/FiraCode-Medium.woff') format('woff'),
       url('fonts/FiraCode/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url('fonts/FiraCode/FiraCode-Bold.woff2') format('woff2'),
       url('fonts/FiraCode/FiraCode-Bold.woff') format('woff'),
       url('fonts/FiraCode/FiraCode-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url('fonts/FiraCode/FiraCode-SemiBold.woff2') format('woff2'),
       url('fonts/FiraCode/FiraCode-SemiBold.woff') format('woff'),
       url('fonts/FiraCode/FiraCode-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/Hack/Hack-Regular.woff2') format('woff2'),
       url('fonts/Hack/Hack-Regular.woff') format('woff'),
       url('fonts/Hack/Hack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/Hack/Hack-Italic.woff2') format('woff2'),
       url('fonts/Hack/Hack-Italic.woff') format('woff'),
       url('fonts/Hack/Hack-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/Hack/Hack-Bold.woff2') format('woff2'),
       url('fonts/Hack/Hack-Bold.woff') format('woff'),
       url('fonts/Hack/Hack-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
       url('fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
       url('fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
       url('fonts/OpenSans/OpenSans-Light.woff') format('woff'),
       url('fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
       url('fonts/OpenSans/OpenSans-Italic.woff') format('woff'),
       url('fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans/OpenSans-Medium.woff2') format('woff2'),
       url('fonts/OpenSans/OpenSans-Medium.woff') format('woff'),
       url('fonts/OpenSans/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
       url('fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
       url('fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
       url('fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'),
       url('fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoFlex';
  src: url('fonts/RobotoFlex/RobotoFlex-Regular.woff2') format('woff2'),
       url('fonts/RobotoFlex/RobotoFlex-Regular.woff') format('woff'),
       url('fonts/RobotoFlex/RobotoFlex-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('fonts/RobotoMono/RobotoMono-Regular.woff2') format('woff2'),
       url('fonts/RobotoMono/RobotoMono-Regular.woff') format('woff'),
       url('fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('fonts/RobotoMono/RobotoMono-Light.woff2') format('woff2'),
       url('fonts/RobotoMono/RobotoMono-Light.woff') format('woff'),
       url('fonts/RobotoMono/RobotoMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('fonts/RobotoMono/RobotoMono-Italic.woff2') format('woff2'),
       url('fonts/RobotoMono/RobotoMono-Italic.woff') format('woff'),
       url('fonts/RobotoMono/RobotoMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('fonts/RobotoMono/RobotoMono-Medium.woff2') format('woff2'),
       url('fonts/RobotoMono/RobotoMono-Medium.woff') format('woff'),
       url('fonts/RobotoMono/RobotoMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('fonts/RobotoMono/RobotoMono-Bold.woff2') format('woff2'),
       url('fonts/RobotoMono/RobotoMono-Bold.woff') format('woff'),
       url('fonts/RobotoMono/RobotoMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('fonts/RobotoMono/RobotoMono-SemiBold.woff2') format('woff2'),
       url('fonts/RobotoMono/RobotoMono-SemiBold.woff') format('woff'),
       url('fonts/RobotoMono/RobotoMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('fonts/RobotoMono/RobotoMono-Thin.woff2') format('woff2'),
       url('fonts/RobotoMono/RobotoMono-Thin.woff') format('woff'),
       url('fonts/RobotoMono/RobotoMono-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
